<!DOCTYPE html>
<html lang="en" class="bg-gray-200">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 ,shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= locals.title || "Payment Integration APP" %></title>
  <link rel="stylesheet" href="bootstrap.min.css"/>
  <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <%- include('navbar') -%>
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Shop The Book You Desire</h1>
          <p class="lead fw-normal text-white-50 mb-0">From the collection Below</p>
        </div>
      </div>
    </header>
    <main role="main" class="container">

    

